<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b49d1e3afe.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <script src="/bootstrap/jquery.slim.min.js"></script>
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/popper.min.js"></script>
    <title>Document</title>
    <style>
        #body{
            background-color: #23180D;
            cursor: pointer;
        }
        a{
            text-decoration: none;
            list-style-type: none;
            color: white;
        }
        li{
            list-style-type: none;
        }
    </style>
</head>
<body>
    <div class="container-fluid" id="body">
        <h1 class="text-light">Recipe Rave</h1>
        <div class="row">
            <div class="col">
                <ul style="visibility: hidden;">
                    <li><a href="/">Home </a></li>
                </ul>
            </div>
            <div class="col"><ul>
                <li><a href="/Categories">Categories</a></li>
            </ul></div>
            <div class="col"><ul>
                <li><a href="/Random">Country Meals</a></li>
            </ul></div>
            <div class="col"><ul>
                <li><a href="/random">Randon meals</a></li>
            </ul></div>
        </div><br>
        <div class="row">
            <div class="col"><a  href="/about" style="text-decoration: none; color: white;">follow us on our social media</a></div>
            <div class="col"><a  href="https://twitter.com/AbangTah"><i class="fa fa-twitter" aria-hidden="true" style="color: blue; font-size: 40px;"></i></a></div>
            <div class="col"><a  href="https://github.com/123abang"><i class="fa fa-github" aria-hidden="true" style="color: gray; font-size: 40px;"></i></a></div>
            <div class="col"><a  href="https://www.linkedin.com/in/abang-tah-a343b2261/"><i class="fa fa-linkedin" aria-hidden="true" style="color:blue; font-size: 40px;"></i></a></div>
        </div><br>
    </div>
</body>
</html>