<style>
body{

  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #2D2013;
}
img{
  border-radius: 8px;
}
.welcome{
  display: grid;
  justify-content: center;
}

.span{
  text-align: center;
}
button{
  background-color: blue;
  border-radius: 8px;

}
button a{
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.row{
  text-align: center;
}
button:hover{
  transform: scale(1.1);
}
h1{
  color: white;
  text-align: center;
}
</style>


<div class="container">
      <img src="/image/Brown_Simple_Minimalist_Cuisine_Logo__1_-removebg-preview.png" alt="" height="400px">
      <div class="welcome">
        <div class="message">
          <h1>Welcome to Recipe Rave,<br>  Explore  a world of tantalizing flavors <br> and share the joy of cooking with our vibrant <br> community.</h1>
        </div>
      </div>
      <div class="span">
        <button type="button" class="bg-secondary"><a href="/Signup"><h1>SignUp</h1></a></button>
        <button type="button" class="bg-secondary"><a href="/Login"><h1>Login</h1></a></button>
      </div>
  </div>
  